body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
ul,
blockquote,
dd,
p {
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #090325;
}

.conteudo {
  padding: 40px;
  box-shadow: 0 0 3px 1px rgba(54, 16, 237, 0.81);
  width: 400px;
}

h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
}

label,
button {
  display: block;
  color: #fff;
}

input,
button {
  width: 100%;
  box-sizing: border-box;
}

input {
  font-size: 1rem;
  padding: 12px;
  border-radius: 4px;
  border: none;
  margin: 0.5rem 0 1rem 0;
}

button {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 12px;
  background-color: #39278b;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #4832ac;
}

span {
  font-size: 0.875rem;
  padding: 12px;
  display: flex;
  margin: 2rem auto 0 auto;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 3px 1px rgba(54, 16, 237, 0.81);
  max-width: max-content;
}
